body, html
{
	background-color: white;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

.productHeader
{
	height: 90px;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid lightgray;
}

.productHeader img
{
	display: inline;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	padding-top: 10px;
	width: 70px;
	height: 70px;
}

.productHeader a
{
	text-decoration: none;
	float: left;
	margin-top: 35px;
	margin-left: 30px;
	padding: 0px;
	font-size: 16px;
	color: black;
	transition: 0.4s;
}

.productHeader a:hover
{
	color: #FFC800;
	transform: scale(1.2);
	transition: 0.4s;
}

.productHeader .icon
{
    display: none;
}

.productHeader input
{
	display: block;
    float: right;
    background-image: url("Graphics/search.png");
    background-size: 20px 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    margin-top: 25px;
    margin-right: 20px;
    padding: 10px 10px 10px 40px;
    font-size: 12pt;
    background-color: white;
    border: 1px solid white;
    width: 0px;
    transition: width 0.6s ease-in-out;
}

.productHeader input:focus
{
    width: 20%;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.productPage
{
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
	/*background-color: #F5F5F5;*/
	/*border-radius: 5px;*/
	/*box-shadow: 2px 1px 4px grey;*/
	text-align: center;
}

.productPage h1
{
	margin: 40px 0px 50px;
	font-size: 50px;
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 12px;
	color: black;
	text-shadow: 2px 1px 4px grey;
}

.productPage .imageSpace
{
	display: inline;
	position: relative;
	float: left;
	width: 45%;
	margin-left: 5%;
	/*margin-top: 10px;*/
	text-align: center;
	object-fit: cover;
	/*border: 2px solid black;*/
	border-radius: 10px;
	box-shadow: 2px 1px 4px black;
	background-color: white;
}

.productPage .imageSpace .mySlides img
{
	width: 90%;
	-webkit-animation-name: fade;
  	-webkit-animation-duration: 1s;
  	animation-name: fade;
  	animation-duration: 1s;
}

.imageBTN
{
	color: black;
}

.imageBTN:hover
{
	color: #FFC800;
}

#prevImg
{
	position: absolute;
	left: 5px;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
	font-size: 40px;
}

#nextImg
{
	position: absolute;
	right: 5px;
	top: 50%;
	transform: translate(0, -50%);
	cursor: pointer;
	font-size: 40px;
}

#downloadBTN
{
	display: inline-block;
	text-decoration: none;
    outline: none;
    border: 1px solid gray;
	cursor: pointer;
	box-shadow: 1px 5px 2px gray;
	border-radius: 10px;
	background-color: white;
}
#downloadBTN:hover
{
	
}
#downloadBTN:active
{
	transform: translateY(3px);
	box-shadow: 0px 1px 2px gray;
}

#downloadBTN img
{
	display: inline;
	height: 70px;
	width: 70px;
	margin-top: 5px; 
	float: left;
	border-radius: 40px;
}

#downloadBTN h3
{
	display: inline-block;
	float: left;
	text-decoration: none;
	color: black;
	font-size: 20px;
	text-shadow: 1px 1px 1px lightgray;
	margin: 28px 0px 26px 20px;
}

#downloadBTN i
{
	display: inline-block;
	font-size: 30px;
	margin-top: 25px;
	margin-right: 0px;
	margin-left: 0px;
	color: white;
	transition: 0.4s;
}
#downloadBTN:hover i
{
	margin-right: 20px;
	margin-left: 25px;
	color: #7423e1;
	transition: 0.6s;
}


.productPage .textSpace
{
	display: inline-block;
	float: right;
	width: 40%;
	margin-right: 5%;
	text-align: left;
	margin-top: 20px;
}

.productPage .textSpace h2
{
	float: left;
	margin-left: 30px;
}

.productPage .textSpace p
{
	float: left;
	font-size: 18px;
	line-height: 25px;
}

.productPage .textSpace a
{
	text-decoration: none;
	color: #7423e1;
	font-weight: bold;
}




.copyright
{
    display: block;
    width: 100%;
    float: right;
    text-align: right;
    font-size: 12pt;
    margin-top: 40px;
    padding: 10px;
    color: grey;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}